<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/nice-check.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="OrderApp">
    <nav class="navbar navbar-green navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="left-icon fa fa-leaf"></i>HappyHour.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="navbar-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Order/Index">Thực đơn</a>
                    </li>
                    <li>
                        <a href="/Order/Cart">Giỏ hàng</a>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search" hidden>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm nhanh">
                    </div>
                    <button type="submit" class="btn btn-white">Tìm</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        <div class="row">
            <ol class="breadcrumb step">
                <li id="shopping-step-1">
                    <a href="/Order/Index">
                        <div class="step-icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="step-name">1. Mua hàng</div>
                    </a>
                </li>
                <li id="shopping-step-2">
                    <a href="/Order/Cart">
                        <div class="step-icon">
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="step-name">2. Kiểm tra giỏ hàng</div>
                    </a>
                </li>
                <li id="shopping-step-3">
                    <a href="/Order/Information">
                        <div class="step-icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <div class="step-name">3. Thông tin giao hàng</div>
                    </a>
                </li>
                <li id="shopping-step-4">
                    <a href="#">
                        <div class="step-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="step-name">4. Hoàn tất thanh toán</div>
                    </a>
                </li>
            </ol>

        </div>
        @RenderBody()

        <script type="text/ng-template" id="modalContent.html">
            <!-- Modal Edit Item -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thông tin sản phẩm</h4>
            </div>
            <div class="modal-body">
                <!-- Head info -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="ratio-wrapper ratio-wrapper-1-1">
                            <div class="ratio-item">
                                <div class="img-container">
                                    <img class="img-responsive"
                                         ng-src="/Content/upload/{{vm.order.image}}.jpg"
                                         err-src="/Content/imgs/default_product.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3 class="block-title">
                            {{vm.order.name}}
                            <small>({{vm.order.price | currency : "" : 0}}đ)</small>
                        </h3>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label>Nhà cung cấp </label>
                                </div>
                                <div class="col-xs-8">Passio</div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label>Số lượng </label>
                                </div>
                                <div class="col-xs-4">
                                    <div class="incrementer inc-transparent">
                                        <a class="inc-control inc-minus" ng-click="vm.changeProductQuantity(false)"></a>
                                        <input type="text" class="inc-input"
                                               value="{{vm.order.quantity}}" readonly />
                                        <a class="inc-control inc-plus" ng-click="vm.changeProductQuantity(true)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- General Items -->
                <div class="extra-group" data-type="extra-group">
                    <h4>Kích thước <small>(chọn 1)</small></h4>
                    <ul class="row">
                        <li class="col-md-4" ng-repeat="general in vm.generalItems">
                            <input type="radio" name="product-type" class="nice-check" id="{{general.code}}" ng-checked="$first" ng-click="vm.changeGeneralItem(general)" />
                            <label for="{{general.code}}" ng-bind="general.att"></label>
                        </li>
                    </ul>
                </div>
                <!-- Extra Groups -->
                <div>
                    <div>
                        <h4>
                            Dùng thêm
                            <small>(Tối đa: <span id="lblRemainingExtra">5</span>)</small>
                        </h4>
                        <div class="btn-group btn-extra-group" role="group">
                            <button type="button" class="btn btn-sm btn-white"
                                    ng-repeat="group in vm.extraGroups"
                                    ng-click="vm.activateExtraGroup(group.groupId)"
                                    ng-class="{active: group.groupId == vm.selectedExtraGroupId}">
                                <i class="left-icon fa fa-cutlery"></i>{{group.groupName}}
                            </button>
                        </div>
                        <br />
                        <ul class="row">
                            <li class="col-md-6" ng-repeat="extra in vm.selectedExtraList">
                                <div class="row xsmall-margin extra-item extra-inverse">
                                    <div class="col-md-3">
                                        <div class="extra-count" data-id="" data-price="" data-quantity="0" data-max="5">
                                            <div class="extra-quantity" ng-click="vm.changeExtraQuantity(extra, true)">{{extra.quantity == 0 ? null : extra.quantity}}</div>
                                            <div class="extra-minus" ng-click="vm.changeExtraQuantity(extra)">
                                                <i class="fa fa-minus"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="extra-name">{{extra.name}}</div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="extra-price">{{extra.price | currency : "" : 0}}đ</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Comment -->
                    <form>
                        <div class="form-group">
                            <h4>Ghi chú</h4>
                            <textarea class="form-control">{{vm.order.note}}</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer create-footer" ng-switch on="vm.isNewMode">
                    <div class="form-inline pull-left">
                        <!-- Total Price -->
                        <div class="form-group">
                            <label class="control-label">
                                <i class="left-icon fa fa-check"></i>
                                Thành tiền:
                                <span class="total-price">{{vm.getOrderCost(vm.order) | currency : "" : 0}}đ</span>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-green" ng-switch-when="true" ng-click="vm.addProductToCart()">
                        <i class="left-icon fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                    </button>
                    <button type="button" class="btn btn-green" ng-switch-when="false" ng-click="vm.updateShoppingCart()">
                        <i class="left-icon fa fa-shopping-cart"></i> Cập nhật đơn hàng
                    </button>
                </div>
        </script>
    </div>
    <script src="~/Content/assets/jquery/jquery-1.9.1.js"></script>
    <script src="~/Content/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/assets/angularjs/angular.min.js"></script>
    <script src="~/Content/assets/angularjs/angular-route.min.js"></script>
    <script src="~/Content/assets/angularjs/ui-bootstrap-tpls-0.13.1.min.js"></script>
    <script src="~/Content/assets/angularjs/pagination/dirPagination.js"></script>
    <script src="~/Content/assets/angularjs/ngStorage.min.js"></script>
    <script src="~/Scripts/namespace.js"></script>
    @*<script src="~/Content/js/script.js"></script>*@

    <script src="~/Scripts/orderApplication/app.js"></script>
    <script src="~/Scripts/orderApplication/services/productService.js"></script>
    <script src="~/Scripts/orderApplication/services/extraService.js"></script>
    <script src="~/Scripts/orderApplication/controllers/modalController.js"></script>
    <script src="~/Scripts/orderApplication/controllers/productController.js"></script>
    <script src="~/Scripts/orderApplication/controllers/orderController.js"></script>
    <script src="~/Scripts/orderApplication/controllers/deliveryController.js"></script>
    <script src="~/Scripts/orderApplication/directives/errorDirective.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
